<a href="https://colab.research.google.com/github/CABIGAO/PLNG211-2-OLFU-QC/blob/main/Looping_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [20]:
#if Statement
c = 2
j = 2

if c>j:
  print("c is higher than j ")

#Elif Statement
elif c<j:
  print("c is less than j")

#else Statement
else:
  print("they are equal")

they are equal

In [28]:
#Short hand if
c = 19
d = 22

if c>d: print("he is greater than m")

#Short hand if.. else

print("he is greater than m") if c>d else print("he is less than me")

he is less than me

In [31]:
# And and or Statement
C = 10
A = 20
T = 30
 
if T>A and A>C:
  print("both operands are TRUE")

if C>A or C<A:
  print("at least one of the operands is TRUE ")

both operands are TRUE
at least one of the operands is TRUE

In [48]:
#Nested if 

p = 19
if p>10:
  print("above ten") 
  if p>20:
    print("And also above 20")
    if p>30:
      print("And also above 30")
      if p>40:
        print("And also above 40")
        if p>50:
          print("And also above 50")
        else:
         print("But not above 40")
    else:
      print("But not above 30")
  else:
     print("But not above 20")
else:
  print("But not above 10")

above ten
But not above 20

In [49]:
#Example 1. Write a program that determines if the input age is qualified to vote or not. 
#The qualifying age is 18 years old and above.
age = 13
if age>=18:
  print("You are qualifide to vote")
else:
  print("You are not qualifide to vote")

You are not qualifide to vote

In [88]:
print('Enter your age:')
age = int(input())

if age >= 18:
  print("You are qualifide to vote")
else:
  print("You are not qualifide to vote")

Enter your age:
18
You are qualifide to vote

In [56]:
#for loop
Month = ["Jan","Feb","Mar","Apr","May","Jun","Aug"]

for M in Month:
  print(M)

Jan
Feb
Mar
Apr
May
Jun
Aug

In [59]:
Month = ["Jan","Feb","Mar","Apr","May","Jun","Aug"]
for M in Month:
  print(M)
  if M == "May":
    break

Jan
Feb
Mar
Apr
May

In [60]:
#Using for loop to display only MAY
Month = ["Jan","Feb","Mar","Apr","May","Jun","Aug"]
for M in Month:
  if M == "May":
    print(M)
    break

May

In [63]:
#Looping through String

for c in "ILYCATS":
  print(c)

I
L
Y
C
A
T
S

In [71]:
#The range ()function 
#for x in range(6):
  #print(x)
for x in range (2,7,3):
  print(x)

2
5

In [75]:
#Nested loops
compli = ["cute", "beautiful", "wise"]
girls_name = ["anna", "bea", "hale"]

for x in compli:
  for y in girls_name:
    print(x, y)

cute anna
cute bea
cute hale
beautiful anna
beautiful bea
beautiful hale
wise anna
wise bea
wise hale

In [79]:
#while loop
i = 1
while i <= 5:
  print(i)
  i+=1

In [81]:
#while loop with break
i = 1
while i < 6:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [83]:
# while loop with break Application 1. Using while loop, display only 3
i = 1
while i<6:
  if i ==5:
    print(i)
    break
  i+=1

5

In [84]:
c = 0
while c < 4:
  c += 1
  if c == 3:
    continue
  print(c)

1
2
4

In [87]:
# Else Statement
c = 10
while c<6:
  print(c)
  c+=1
else:
  print("C is no longer less than 6")

C is no longer less than 6